/* Webfont: Mnemion-Regular */@font-face {
    font-family: 'Mnemion';
    src: url('Mnemion.eot'); /* IE9 Compat Modes */
    src: url('Mnemion.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Mnemion.woff') format('woff'), /* Modern Browsers */
         url('Mnemion.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

